/* ---- Background ---- */
body {
    background-color: #EDE0C2;
    padding-top:      110px;
}

@media (min-width: 768px) and (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 0px;
    }
}

/* ---- Buttons ---- */
.btn {
    border-radius: 20px;
}

li.navbtn {
    float: left;
}

.btn-default {
    margin-top:  8px;
    margin-left: 10px;
}

.dropdown-toggle {
    margin-left: 5px !important;
}

/* ---- Containers ---- */
.hero-unit {
    background-color: white;
}

.panel-heading {
    background-color: white;
    border-radius:    5px;
    margin-bottom:    15px;
}

.txt {
    height: 75%;
    margin-left:  auto;
    margin-right: auto;
    width: 75%;
}

.white-box {
    background-color: white;
    border-radius:    5px;
    height:           300px;
    margin-bottom:    15px;
    position:         relative;
}

/* ---- Font ---- */
.welcome {
    color:       #FF8C27 !important;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size:   2em;
}

.project {
    font-family: 'Ubuntu Mono', sans-serif;
    font-size:   1.5em;
    margin:      5px 5px 5px 5px;
}

.proj-btn {
    position: absolute;
    left:     5px;
    bottom:   5px;
}

/* ---- Headings ---- */
h1 {
    color:          #008000 !important;
    font-family:    'Share Tech Mono', sans-serif;
    padding-bottom: 25px;
}

h2 {
    color:       #008000 !important;
    font-family: 'Share Tech Mono', sans-serif;
}

h3 {
    color:       #008000 !important;
    font-family: 'Share Tech Mono', sans-serif;
    text-align:  center;
}

.proj-head {
    margin-left: 5px;
}

/* ---- Persistent Navigation ---- */
@media (min-width: 768px) and (max-width: 979px) {
    .logo {
        float:  none !important;
        height: 60px !important;
    }

    .navbar-inner {
        height: 100px !important;
        text-align: center;
    }

    .dropdown-toggle {
        margin-left: 15px !important;
        width:       200px;
    }

    .dropdown-menu {
        margin-left: 15px !important;
    }

    .brand {
        visibility: hidden;
    }
}

@media (max-width: 767px) {
    .logo {
        float:  none !important;
        height: 60px !important;
    }

    .navbar-inner {
        height: 100px !important;
        text-align: center;
    }

    .dropdown-toggle {
        margin-left: 15px !important;
        width:       200px;
    }

    .dropdown-menu {
        margin-left: 15px !important;
    }

    .brand {
        visibility: hidden;
    }
}

.brand {
    color:       #008000;
    font-family: 'Share Tech Mono', sans-serif;
    margin-left: 5px;
    margin-top:  32px;
    float:       left;
}

.nav-tabs {
    margin-top:  51px;
}

.active {
    margin-left: 30px;
}

.nav-tabs > li > a {
    height: 22px;
}

.nav-tabs > li.first > a {
    margin-left: 30px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: #F9F9F9;  
} 

.container-nav {
    padding-left: 2%;
}

.logo {
    float:       left;
    height:      75px;
    padding-top: 5px;
    width:       auto;
}

.navbar-inner {
    background-color:  white;
    background-image:  none;
    background-repeat: no-repeat;
    filter:            none;
    height:            90px;
}

.foot {
    background-color: white;
    height:           60px;
    width:            100% !important;
    text-align:       center;
}